/** @format */

@font-face {
  font-family: "opensans";
  src: url("../css/fonts/open-sans/opensans-light.ttf");
}

@font-face {
  font-family: "opensans-regular";
  src: url("../css/fonts/open-sans/opensans-regular.ttf");
}

@font-face {
  font-family: "opensans-bold";
  src: url("../css/fonts/open-sans/opensans-bold.ttf");
}
