/** @format */
$white: #fff;
$black: #000000;
$likes-grey: #4a4a4a;

$light-red-nav: #b60738;
$dark-red-nav: #89002a;
$nav-placeholder-color: #75102f;
$clear-footer-color: #fc3159;
$nav-font-size: 18px;
$nav-font-color: $white;
$nav-i-font-size: 14px;
$font-open-sans: "opensans";
$font-open-sans-regular: "opensans-regular";
$font-open-sans-bold: "opensans-bold";
$section-font-size: 36px;

// Break points
$tablet-break: 728px;
$desktop-break: 1280px;
$mid-break: 1500px;
$wide-break: 1700px;

// nees text
